[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jax = {extras = ["tpu"]}
equinox = "*"
diffrax = "*"
optax = "*"
jaxtyping = "*"
matplotlib = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
